<form id="join-form" action="/chat">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">LOGIN</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Display Name</label>
                <input required id="login-name" type="text" name="name" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <label>Room Name</label>
                <input required id="login-room" type="text" name="room" class="form-control">
            </div>
            <div class="card-footer">
                <button class="btn btn-success" type="submit">Login</button>
            </div>
        </div>
    </div>
</form>